{% for item in languages %}
    <div>
        <label for="booking-rule"> Keel:  {{ item }}</label>
    </div>
    <div>
        <input type="text" id="booking-rule" name="booking-rule">
    </div>
{% endfor %}