<!DOCTYPE html>
<html lang="ee">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Narva Noortekeskuse broneering</title>
</head>
<body bgcolor="#E6E6FA" style="font-family: sans-serif; color: #2e4453;">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="1000" style="border-collapse: collapse;">
    <tr>
        <td bgcolor="white" width="60px"> </td>
        <td bgcolor="white" style="padding: 20px 0 10px 0;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                   style="margin-left: auto; margin-right: auto">
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td style="font-size:24pt; line-height: 130%">
                                    Ruumi broneering
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size:17pt">
                                    nr.{{ booking_number }}
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" align="right">
                            <tr>
                                <td width="200">
                                    <img src="{{ noortekLogo }}"
                                         alt="pilt" width="100%"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
        <td bgcolor="white" width="60px"> </td>
    </tr>
    <tr>
        <td colspan="3" bgcolor="white" style="border-bottom: 4px solid #ff6900;">
        </td>
    </tr>
    <tr>
        <td bgcolor="white" width="60px"> </td>
        <td bgcolor="white" style="padding: 20px 0 50px 0;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td align="center" style="padding: 20px 0 20px 0; ">
                        <strong>
                            Teie broneering on edukalt kinnitatud!
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding: 10px 0 0 0; ">
                        <strong>
                            Ootame Teid valitud ajal Narva Noorte Keskusesse!
                        </strong>
                    </td>
                </tr>

            </table>
        </td>
        <td bgcolor="white" width="60px"> </td>
    </tr>
    <tr>
        <td colspan="3" bgcolor="white" style=" border-top: 4px solid #ff6900;">
            <table border="0" cellpadding="0" cellspacing="0" width="80%" style="margin-left: auto; margin-right: auto">
                <tr>
                    <td align="center" colspan="3" style="padding: 20px 0 10px 0; ">
                        <strong>Narva Noortekeskus</strong>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-bottom: 20px; width: 33%;">
                        tel.35 92581
                    </td>
                    <td align="center" style="padding-bottom: 20px; width: 33%;">
                        info@noortek.ee
                    </td>
                    <td align="center" style="padding-bottom: 20px; width: 33%;">
                        www.noortek.ee
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>


