<div class="booking-form">
    <form id="nnk-booking-form" action="http://localhost/noortek/wp-admin/admin-post.php" method="POST">
        <div class="booking-success-submit">
            <p class="success-text">Täname broneeringu eest!</p>
            <p class="success-text">Broneeringu nr: {{ bookingSubmit.bookingNumber }}</p>
            <p class="success-text">Teie emaili on saadetud broneerimise andmed</p>
        </div>
    </form>
</div>
