<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Letter</title>
</head>
<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
    <tr>
        <td align="center" bgcolor="#ff6900" style="padding: 30px 0 30px 0;">
            <h1>Narva Noortekeskuse logo</h1>
        </td>
    </tr>
    <tr>
        <td bgcolor="#FFE4B5" style="padding: 10px 20px 10px 20px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td align="center">
                        <h3><strong>Broneeringu nr: 20190319195536</strong></h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td width="50%">
                                    <strong>Broneerija:</strong>
                                    <div>Nimi: Vladislav Lahtarin</div>
                                    <div>Tel: +372 5555555</div>
                                    <div>Email: vlad.laht@mailru</div>
                                    <div>Aadress: Akadeemia tee 7</div>
                                </td>
                                <td align="center" width="50%">
                                    RUUMI PILT
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td bgcolor="#FFE4B5" style="padding: 10px 20px 10px 20px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td width="50%">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td>
                                                <strong>Eesmark: </strong>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Osalejate arv: </strong>
                                                5 inimest
                                            </td>
                                        </tr>
                                    </table>

                                </td>
                                <td width="50%">
                                    <strong>Lisainfo: </strong>
                                    It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at
                                    its layout.

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td bgcolor="#FFE4B5">
            <table border="1" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <th>Nimetus</th>
                    <th>Kestvus</th>
                    <th>Hind/t</th>
                    <th>Summa</th>
                </tr>
                <tr>
                    <td align="center" style="padding: 20px 0 20px 0;">
                        Tanstusaal
                    </td>
                    <td>
                        12:00-14:00 (2 tundi)
                    </td>
                    <td>
                        15 EUR
                    </td>
                    <td>
                        30 EUR
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding: 20px 0 20px 0;">
                        Tanstusaal 2
                    </td>
                    <td>
                        12:00-14:00 (2 tundi)
                    </td>
                    <td>
                        15 EUR
                    </td>
                    <td>
                        30 EUR
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding: 20px 0 20px 0;">
                        Tanstusaal 3
                    </td>
                    <td>
                        12:00-14:00 (2 tundi)
                    </td>
                    <td>
                        15 EUR
                    </td>
                    <td>
                        30 EUR
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding: 20px 0 20px 0;">
                        Tanstusaal 4
                    </td>
                    <td>
                        12:00-14:00 (2 tundi)
                    </td>
                    <td>
                        15 EUR
                    </td>
                    <td>
                        30 EUR
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="alert alert-dark" role="alert">
                            Kokku: 120 EUR
                        </div>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" bgcolor="#ff6900" style="padding: 15px 0 15px 0;">
            <h3>Lingid</h3>
        </td>
    </tr>
</table>
</body>
</html>