.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.next-button {
    position: absolute;
    margin-top: 20px;
    right: 15px;
    background: cornflowerblue;
}

.previous-button {
    position: absolute;
    margin-top: 20px;
    left: 15px;
    background: darkgray;
}

.booking-container {
    position: relative;
    width: 60%;
    min-height: 500px;
    background: white;
    margin: auto;
    padding: 4rem 4rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

body {
    background-color: #e9e9e9;
}

.step-content {
    height: 100%;
    position: relative;
}

.react-datepicker-wrapper {
    display: block;
}

.validationMsg {
    color: red;
}

.custom-input-form {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  padding: 6px 12px;
}

.custom-input-form:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}


